@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: #646464;
  transition: 0.4s;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: #000;
    background-color: hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;
  }
}